/node_modules
package-lock.json
.vscode/
/vendor

/php/assets/images/logo*

_init*
.env.create.php
.env.read.php
.key
#crunz.yml
#.env

/build
/libs
.idea/

!/php/tmp/
/php/tmp/*
!/php/tmp/empty

!/php/logs/
/php/logs/*
!/php/logs/empty

public/*
!public/api
!/public/.htaccess
php/src/Action/Home/HomeRoutesAction.php
work_reprt.txt
debug.log
!resources/backups/
resources/backups/*
!/resources/backups/empty